<%- include('../includes/head.ejs') %>
    </head>

    <body>
        <%- include('../includes/navigation.ejs') %>
        <main>
            <% if (products.length > 0) { %>
                <ul>
                    <% products.forEach(product => { %>
                        <li>
                            <p>
                                <%= product.title %> (<%= product.cartitem.qty %>)
                            </p>
                            <form action="/cart-delete-item" method="POST">
                                <input type="hidden" value="<%= product.id %>" name="prodId">
                                <button class="btn" type="submit">Delete Item</button>
                            </form>
                        </li>
                    <% }) %>
                </ul>
                <form method="POST" action="/create-order">
                    <button type="submit" class="btn">Order now!</button>
                </form>
            <% } else { %>
                <h1>No Products in cart</h1>
            <% } %>

        </main>
        <%- include('../includes/end.ejs') %>